html,
body {
    position: relative;
    height: 100%;
    min-width: 320px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media (min-width: 320px) {
    .container {
        max-width: 300px;
        margin: 0 auto;
        padding: 0 17px;
    }

    // Next section
    .header {
        margin-bottom: 30px;
        max-height: fit-content;

        &__top {
            margin-bottom: 13px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &__logo {
            order: -1;
            margin: 0;
            position: relative;
            z-index: 12;
        }

        &__logo-img-white {
            display: none;
        }

        &__logo-img {
            padding-left: 0;
            width: 120px;
        }

        &__menu {
            padding-top: 50px;
            padding-right: 50px;
            width: 100%;
            background-color: #ffffff;
            position: relative;
            z-index: 13;
            text-align: right;
            transform: translateY(-370px);
            transition: all .5s;

            &--open {
                transform: translateY(-30px);
            }
        }

        &__menu-list {
            padding-right: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            padding: 0;
            display: block;
        }

        &__menu-list-link {
            display: block;
            padding: 15px 10px;
            transition: all 0.3s ease-in;

            &:hover {
                background-color: #3A4574;
                color: #D3B47F;
            }
        }

        &__menu-phone {
            margin-bottom: 10px;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
            order: -1;
            color: #ffffff;
            z-index: 13;
        }

        &__menu-phone-icon {
            margin-right: 10px;
            width: 15px;
            height: 15px;
        }

        &__menu-phone-number {
            color: #D3B47F;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            padding: 0;
            transition: color 0.5s ease 0s;

            &:hover {
                color: #3A4574;
            }
        }

        &__phone {
            display: none;
        }

        &__menu-btn {
            display: block;
            order: -1;
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            z-index: 12;

            span {
                background-color: #000;
                width: 30px;
                height: 2px;
                border-radius: 4px;
                display: block;
                margin: 6px 0;
            }
        }

        &__menu-btn-close {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            width: 35px;
            height: 35px;
        }

        &__text {
            margin-bottom: 15px;
            margin-top: -116%;
            z-index: 10;
        }

        &__title {
            font-size: 24px;
            line-height: 40px;
            font-weight: 700;
        }

        &__subtitle {
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &__image {
            height: auto;
        }
    }

    .btn-main {
        padding: 8px 28px;
        font-size: 8px;
        font-weight: 400;
        background-color: #3A4574;
        border: 1px solid #3A4574;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease 0s;

        &:hover {
            background-color: #D3B47F;
            border: 1px solid #D3B47F;
            color: #000000;
        }
    }

    .social {
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__links {
            display: flex;
            justify-content: space-between;
        }

        &__link {
            opacity: 1;
            transition: all 0.5s ease 0s;

            &:hover {
                opacity: 0.6;
            }
        }

        &__img {
            width: 22px;
        }

        &__img-white {
            display: none;
        }
    }

    .social__link+.social__link {
        padding-left: 10px;
    }

    .form * {
        outline: none;
    }

    .form {
        display: none;
        position: fixed;
        bottom: 6%;
        z-index: 9;

        &__body {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #E5E5E5;
        }

        &__body-top {
            display: flex;
            justify-content: space-between;
            align-items: first baseline;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }

        &__btn-close {
            border: none;
            background-color: #E5E5E5;
            width: 30px;
            height: 30px;
        }

        &__item {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        &__input {
            width: 100%;
            padding: 10px;
            margin: 5px 0 15px 0;
            border: 1px solid #505050;
            background: #E5E5E5;
            transition: all 0.5s ease 0s;

            &:focus {
                box-shadow: 0 0 10px #505050;
            }

            &::placeholder {
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                color: #505050;
            }
        }

        &__input-textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0 15px 0;
            min-height: 90px;
            color: #505050;
            resize: none;
            padding: 10px;
            border: 1px solid #505050;
            background: #E5E5E5;
            transition: all 0.5s ease 0s;

            &:focus {
                box-shadow: 0 0 10px #505050;
            }

            &::placeholder {
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                color: #505050;
            }
        }

        &__btn {
            width: 100%;
            background-color: #3A4574;
            border: 1px solid #3A4574;
            color: #ffffff;
            padding: 10px 30px;
            border: none;
            cursor: pointer;
            margin-bottom: 10px;
            transition: all 0.5s ease 0s;

            &:hover {
                background-color: #D3B47F;
                border: 1px solid #D3B47F;
                color: #000000;
            }
        }
    }

    // Next section
    .specialities {
        margin-bottom: 30px;

        &__inner {
            display: flex;
            flex-direction: column;
        }

        &__list {
            max-width: 100%;
        }

        &__item {
            margin-bottom: 20px;

            &::after {
                content: " ";
                display: block;
                width: 200px;
                height: 1px;
                margin: 10px auto;
                background-color: #E7E7E7;
            }
        }

        &__subtitle {
            margin-bottom: 10px;
            font-size: 14px;
            text-align: center;
        }

        &__item-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 5px;
        }

        &__left,
        &__right {
            font-size: 13px;
            line-height: 21px;
        }

        &__item-inner svg+.specialities__item-inner svg {
            padding-right: 6px;
        }

        &__item-inner svg:nth-child(2) {
            display: none;
        }

        &__item-inner svg:nth-child(3) {
            display: none;
        }

        &__photo-inner {
            display: none;
        }
    }

    // Next section
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
    }

    .quote-slider {
        padding-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        min-height: auto;
        background-color: #3A4574;

        &__inner {
            margin: 0 auto;
            width: 60%;
            height: 100%;
            object-fit: cover;
        }

        &__img {
            margin: 20px auto 20px;
            width: 20px;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: #D3B47F;
        }

        &__text {
            margin-bottom: 20px;
            font-size: 10px;
            line-height: 25px;
            font-weight: 400;
            color: #ffffff;
        }

        &__author {
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            letter-spacing: 4px;
            color: #D3B47F;
        }
    }

    .quote-slider-prev,
    .quote-slider-next {

        color: #D3B47F;

        &::after {
            font-size: 21px !important;
        }
    }

    // Next section
    .offers {
        margin-bottom: 80px;

        &__item {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__text {
            max-width: 470px;
        }

        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 44px;
            position: relative;

            &::after {
                margin-bottom: 16px;
                content: "";
                display: block;
                width: 108px;
                height: 1px;
                background-color: #D3B47F;
                position: absolute;
                left: -53px;
            }
        }

        &__descr {
            color: #808080;
            font-size: 12px;
            line-height: 20px;
        }

        &__img {
            max-width: 670px;
        }

        &__text:nth-child(2) {
            order: -1;
        }
    }

    // Next section
    .image-slider {
        display: none;
    }

    // Next section

    .contacts {
        margin-bottom: 40px;

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin-bottom: 25px;
            font-size: 35px;
            font-weight: 700;
            line-height: 42px;
        }

        &__icon {
            width: 44px;
            height: 44px;
        }

        &__list-item {
            margin-bottom: 10px;
            display: flex;
            gap: 16px;
        }

        &__info-title {
            color: #2E2E2E;
            line-height: 32px;
        }

        &__info-text {
            color: #2E2E2E;
            font-size: 15px;
            font-weight: 500;
            line-height: 30px;
        }
    }

    .form-questions {
        margin-bottom: 50px;

        &__title {
            margin-bottom: 25px;
            font-size: 35px;
            font-weight: 700;
            line-height: 42px;
        }

        &__input {
            background: #fff;
        }
    }

    .map {
        width: 100%;
        height: 300px;
        // object-fit: cover;
    }

    // Next section

    .footer {
        margin-bottom: 100px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__logo {
            margin-bottom: 20px;
            padding-right: 20px;
        }

        &__logo-img {
            padding-left: 0px;
            width: 120px;
        }

        &__social-links {
            margin-bottom: 22px;
            display: flex;
            justify-content: left;
        }

        &__social-link {
            opacity: 1;
            transition: all 0.5s ease 0s;

            &:hover {
                opacity: 0.6;
            }
        }

        &__social-link+.footer__social-link {
            padding-left: 20px;
        }

        &__social-img {
            width: 22px;
        }
    }
}

@media(min-width:400px) {
    .container {
        max-width: 320px;
    }

    .header__text {
        margin-top: -110%;
    }

}

@media(min-width:450px) {
    .container {
        max-width: 400px;
    }

    .header__text {
        margin-top: -90%;
    }

    .specialities__item-inner svg:nth-child(2) {
        display: block;
    }

    .specialities__item-inner svg:nth-child(3) {
        display: block;
    }

    .specialities__item-inner {
        flex-direction: initial;
        gap: 8px;
    }

    .offers__title {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 66px;
    }

    .footer__wrapper {
        flex-direction: initial;
    }

    .footer__logo-img {
        margin-bottom: 0;
    }

    .footer__social-links {
        justify-content: space-between;
    }
}

@media(min-width:510px) {
    .container {
        max-width: 430px;
    }

    .header__text {
        margin-top: -76%;
    }

    .quote-slider {
        padding-top: 40px;
        margin-bottom: 60px;
    }

    .quote-slider__img {
        margin: 30px auto 20px;
        width: 30px;
    }

    .quote-slider__title {
        margin-bottom: 25px;
        font-size: 27px;
        line-height: 40px;
    }

    .quote-slider__text {
        margin-bottom: 30px;
        font-size: 11px;
        line-height: 27px;
    }

    .quote-slider__author {
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 4px;
    }

    .quote-slider-prev,
    .quote-slider-next {
        &::after {
            font-size: 24px !important;
        }
    }
}

@media(min-width:550px) {
    .container {
        max-width: 470px;
    }

    .header {
        margin-bottom: 50px;
    }

    .header__text {
        margin-top: -70%;
    }

    .header__title {
        font-size: 24px;
    }

    .header__image {
        height: 300px;
    }
}

@media(min-width:590px) {
    .container {
        max-width: 510px;
    }

    .header__text {
        margin-top: -60%;
    }

    .header__image {
        height: 345px;
    }

    .specialities__subtitle {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
    }

    .specialities__left,
    .specialities__right {
        font-size: 16px;
        line-height: 24px;
    }

    .offers__title {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 88px;
    }

    .offers__descr {
        font-size: 14px;
        line-height: 32px;
    }
}

@media(min-width:660px) {
    .container {
        max-width: 530px;
    }
}

@media(min-width:720px) {
    .container {
        max-width: 550px;
        margin: 0 auto;
        padding: 0 17px;
    }
}

@media(min-width:770px) {
    body {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
    }

    .form {
        top: 10%;
        bottom: 10%;
        right: 16%;
        left: 16%;
        z-index: 13;

        &__body {
            max-width: 900px;
            padding: 30px;
        }

        &__title {
            margin-bottom: 28px;
            font-size: 24px;
            line-height: 44px;
            font-weight: 700;
        }

        &__wrapper {
            display: flex;
        }

        &__input {
            padding: 15px;
            margin: 5px 0 22px 0;

            &::placeholder {
                font-size: 16px;
                line-height: 27px;
            }
        }

        &__input-textarea {
            padding: 15px;
            margin: 5px 0 22px 0;
            min-height: 120px;
            padding: 10px;

            &::placeholder {
                color: #505050;
            }
        }

        &__btn {
            width: auto;
            padding: 15px 45px;
        }
    }

    .quote-slider {
        padding-top: 45px;
        margin-bottom: 80px;
    }

    .quote-slider__img {
        margin: 40px auto 20px;
        width: 40px;
    }

    .quote-slider__title {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .quote-slider__text {
        margin-bottom: 35px;
        font-size: 12px;
        line-height: 30px;
    }

    .quote-slider__author {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 40px;
    }

    .quote-slider-prev,
    .quote-slider-next {
        &::after {
            font-size: 28px !important;
        }
    }

    .offers__descr {
        font-size: 16px;
    }
}

@media(min-width:840px) {
    .header {
        margin-bottom: 80px;
    }

    .header__phone {
        padding-left: 130px;
    }

    .header__text {
        margin-top: -61%;
    }

    .header__title {
        font-size: 28px;
    }

    .btn-main {
        font-size: 8px;
    }

    .specialities__subtitle {
        padding-right: 12px;
        font-size: 24px;

    }

    .specialities__left,
    .specialities__right {
        font-size: 18px;
        line-height: 31px;
    }

    .offers {
        margin-bottom: 50px;
    }

    .contacts__title {
        margin-bottom: 35px;
        font-size: 48px;
        line-height: 88px;
    }

    .contacts__list-item {
        margin-bottom: 20px;
    }

    .form-questions {
        margin-bottom: 50px;
    }

    .form-questions__title {
        margin-bottom: 29px;
        font-size: 48px;
        font-weight: 700;
        line-height: 88px;
        text-align: center;
    }
}

@media(min-width:900px) {
    .container {
        max-width: 750px;
    }

    .header__menu-phone {
        display: none;
    }

    .header__phone {
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        order: -1;
        font-size: 8px;
        color: #ffffff;
        position: relative;
        z-index: 12;
    }

    .header__phone-icon {
        margin-right: 5px;
        width: 10px;
        height: 10px;
    }

    .header__phone-number {
        font-size: 8px;
        color: #D3B47F;
        transition: color 0.5s ease 0s;

        &:hover {
            color: #000000;
        }
    }

    .header__text {
        margin-top: -38%;
    }
}

@media (min-width: 1250px) {
    .container {
        max-width: 1200px;
        padding: 0 15px;
    }

    .header {
        margin-bottom: 80px;
        min-height: 900px;
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .header__top {
        padding-top: 55px;
        margin-bottom: 153px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    .header__logo {
        margin-right: 14px;
    }

    .header__logo-img {
        display: none;
    }

    .header__logo-img-white {
        display: block;
        padding-left: 0;
        width: 270px;
    }

    .header__menu {
        padding: 0;
        display: contents;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__menu-list {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .header__menu-list-item {
        padding-left: 0;
    }

    .header__menu-list-item+.header__menu-list-item {
        padding-right: 0;
        padding-left: 45px;
    }

    .header__menu-list-link {
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #fff;

        &:hover {
            background: inherit;
            color: #D3B47F;
        }
    }

    .header__phone {
        order: 0;
    }

    .header__phone-icon {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }

    .header__phone-number {
        font-size: 16px;

        &:hover {
            color: #ffffff;
        }
    }

    .header__menu-btn {
        display: none;
    }

    .header__text {
        margin-bottom: 42px;
        margin-top: 0;
    }

    .header__title {
        font-size: 64px;
        line-height: 88px;
        font-weight: 700;
        color: #fff;
    }

    .header__subtitle {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;

        color: #fff;
        animation-name: color;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    @keyframes color {
        from {
            color: #fff;
        }

        to {
            color: #D3B47F;
        }
    }

    .btn-main {
        padding: 35px 64px;
        font-size: 18px;
        font-weight: 500;
    }

    .header__image {
        display: none;
    }

    .social__img {
        display: none;
    }

    .social__link+.social__link {
        padding-left: 25px;
    }

    .social__img-white {
        display: block;
        width: 48px;
    }

    .specialities {
        margin-bottom: 158px;
    }

    .specialities__inner {
        justify-content: space-between;
    }

    .specialities__item {

        &::after {
            margin-left: 0;
            margin-bottom: 20px;
            width: 469px;
        }
    }

    .specialities__subtitle {
        text-align: left;
    }

    .specialities__item-inner {
        margin-bottom: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 12px;
    }

    .specialities__item-inner svg+.specialities__item-inner svg {
        padding-right: 8px;
    }

    .specialities__photo-inner {
        display: flex;
        position: absolute;
    }

    .specialities__photo:nth-child(1) {
        position: relative;
        top: 153px;
        left: 501px;
        max-height: 486px;
    }

    .specialities__photo:nth-child(2) {
        position: relative;
        top: 1px;
        left: 523px;
        max-height: 486px;
    }

    .specialities__rectangle {
        width: 473px;
        height: 505px;
        border: 2px solid #D3B47F;
        position: relative;
        top: 50px;
        left: -48px;
        z-index: -1;
    }

    .quote-slider {
        margin-bottom: 110px;
        min-height: 782px;
    }

    .quote-slider__inner {
        width: 67%;

    }

    .quote-slider__img {
        margin: 173px auto 37px;
        width: 83px;
    }

    .quote-slider__title {
        margin-bottom: 17px;
        font-size: 36px;
        line-height: 40px;
    }

    .quote-slider__text {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 40px;
    }

    .quote-slider__author {
        margin-bottom: 170px;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 5.88px;
    }

    .quote-slider-prev,
    .quote-slider-next {

        &::after {
            font-size: 48px !important;
        }
    }

    .offers__item {
        display: flex;
        flex-direction: initial;
    }

    .offers__text:nth-child(2) {
        order: 0;
    }

    .offers__title {
        padding-top: 178px;
    }

    .image-slider {
        margin-bottom: 100px;
        display: block;
    }

    .image-slider__background-wrapper {
        background-color: #3A4574;
        margin-bottom: -22.5%;
        object-fit: cover;
        height: 605px;
    }

    .image-slider__text-wrapper {
        padding-top: 68px;
        text-align: left;
    }

    .image-slider__title {
        font-size: 48px;
        line-height: 83px;
        font-weight: 700;
        color: #fff;
    }

    .image-slider__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: #fff;
    }

    .image-slider__wrapper {
        height: 646px;
    }

    .image-slider__img img {
        max-width: 970px;
        height: 646px;
    }

    .image-slider-prev,
    .image-slider-next {
        color: #D3B47F;
        top: 14%;
    }

    .image-slider-prev {
        left: 79%;
        right: 20px;

        &::after {
            font-size: 48px !important;
        }
    }

    .image-slider-next {
        left: 86%;

        &::after {
            font-size: 48px !important;
        }
    }

    .contacts__inner {
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
        align-items: start;
        gap: 40px;
    }

    .contacts__list-item {
        margin-bottom: 40px;
    }

    .contacts__icon {
        width: 64px;
        height: 64px;
    }

    .contacts__info-text {
        font-size: 24px;
        line-height: 32px;

    }

    .form-questions__title {
        text-align: left;
    }

    .map {
        width: 1170px;
        height: 547px;
    }

    .footer__logo-img {
        width: 270px;
    }

    .footer__social-img {
        width: 48px;
    }
}